{% extends 'admin_base.html' %}
{% block title %} Events {% endblock %}
{% block content %}
<h2>Event Page</h2>
<h2>Create Event</h2>
<div class="event-container">
    <form class="event-form" method="POST" action="{{ url_for('create_event') }}">
        <label for="event-name">Event Title</label>
        <input type="text" id="event-name" name="title" required>

        <label for="event-date">Date of Event</label>
        <input type="date" id="event-date" name="date" required>

        <label for="event-description">Event Description</label>
        <textarea id="event-description" name="description" required></textarea>

        <label for="event-url">Image URL</label>
        <input type="url" id="event-url" name="image_url" required>

        <button type="submit">Create Event</button>
    </form>
</div>

<h2>Existing Events</h2>
<ul>
    {% for event in events %}
    <li>
        {{ event.title }} - {{ event.date }} <br>
        {{ event.description }} <br>
        <a href="/webapp/admin/edit_event/{{ event.id }}">Edit</a>
        <a href="/webapp/admin/delete_event/{{ event.id }}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}