{% extends 'admin_base.html' %}
{% block title %} Retrieve Users {% endblock %}
{% block content %}
<h2>Retrieve Users</h2>
<div>
  {% if users_count == 0 %}
  <p>There are no users</p>
  {% elif users_count == 1 %}
  <p>There is 1 user</p>
  {% else %}
  <p>There are {{ users_count }} users</p>
  {% endif %}
</div>
<div>
  <table>
    <thead>
    <tr>
        <th style="padding-right: 60px;">Username</th>
        <th style="padding-right: 60px;">Identity</th>
        <th style="padding-right: 60px;">Email</th>
        <th style="padding-right: 60px;">Contact Number</th>
    </tr>
    </thead>
      <tbody>
      {% for user in users_info %}
      <tr>
          <td>{{ user['username'] }}</td>
          {% if user['role'] == "super_admin" %}
          <td>Super Admin</td>
          {% elif user['role'] == "admin" %}
          <td>Admin</td>
          {% elif user['role'] == "customer" %}
          <td>Customer</td>
          {% endif %}
          <td>{{ user['email'] }}</td>
          <td>{{ user['phone_number'] }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
