{% extends 'admin_base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Admin Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>

        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
    <form action="{{url_for('update_profile')}}" method="POST">
        <input type="submit" value="Update Profile">
    </form>
    <form action="{{url_for('verify_password')}}" method="POST">
        <input type="submit" value="Change Password">
    </form>

    <h3>Security Settings</h3>
    {% if not account.get('totp_secret') %}
        <form action="{{ url_for('setup_totp') }}" method="post">
            <input type="hidden" name="username" value="{{ account['username'] }}">
            <input type="submit" value="Enable TOTP">
        </form>
    {% else %}
        <p>TOTP is already enabled for your account.</p>
    {% endif %}

</div>
{% endblock %}