{% extends 'update_acc_base.html' %}
{% block title %} Verify Email {% endblock %}
{% block content %}
<h2>Verify Email</h2>

<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div  class="alert alert-warning alert-dismissable " role="alert">
                <span>{{message}}</span>
            <button type="button" class="close" data-bs-dismiss="alert" aria-label ="close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="">
        <table>
            <tr>
                <td>Email:</td>
                <td>{{ form.email }}</td>
            </tr>

        </table>

        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Confirm" >

    </form>
</div>
{% endblock %}